.product-container {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 80vh;
  align-items: flex-start;
  /* background-color: blue; */
  box-sizing: border-box;
  margin: 100px auto;
  padding: 10px 0px;
}
.loading-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
  height: 70vh;
  align-items: center;
}

.product-image-collection {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid; */
  margin: 0px 20px;

  /* background-color: aqua; */
  /* height: inherit; */
  /* margin: 20px; */
}

.product-info {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid; */
  padding: 0px 20px;
  height: 75vh;
  /* overflow: hidden; */

  /* background-color: brown; */
}

.product-main-image {
  /* background-color: yellow; */
  /* height: inherit; */
  flex: 0.8;
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 50vw;
  object-fit: cover;
  order: 1;
  /* background-color: aqua; */
}
.product-main-image-details {
  /* background-color: yellow; */
  /* height: inherit; */
  flex: 0.8;
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 50vw;
  object-fit: cover;
  order: 1;
  opacity: 0.4;
  /* background-color: aqua; */
}
.product-main-image-details img {
  /* display: block; */
  width: 90%;
  height: 100%;
  object-fit: scale-down;
  box-shadow: 1px 1px 30px 2px lightgray;
}
.product-other-images {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* background-color: blueviolet; */
  /* height: inherit; */
  align-items: center;
  text-align: center;
  margin: 10px 0px;
  max-height: 75vh;
}
.product-main-image img {
  width: 90%;
  height: 100%;
  object-fit: scale-down;
  box-shadow: 1px 1px 30px 1px lightgray;
}
.product-other-images img {
  width: 60%;
  height: fit-content;
  padding: 10px 0px;
  object-fit: cover;
}

.product-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin:10px 0px; */
  font-family: Arial, Helvetica, sans-serif;
}

.product-header h3 {
  color: darkgray;
  font-weight: 500;
}
.product-header h2 {
  font-weight: 700;
}
.attrs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
/* .size-options{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0px;
} */
.attr-container {
  margin: 10px 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.items-container,
.sitems-container {
  margin: 8px 3px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.items-container div,
.sitems-container div {
  margin: 5px 0px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid darkgray;
}

.items-container div:first,
.sitems-container div:first {
  margin-left: 0px;
}

.sitems-container div {
  width: 3rem;
  height: 2rem;
}
/* .size-options div{
    border: 1px solid black;
    margin-right: 5px;
    width:2.5rem;
    height: 1.5rem;    

} */
.attr-title {
  font-size: larger;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: calc(120, 23);
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px 0px;
}
.price-container h5 {
  margin-bottom: 5px;
}

.button-container {
  width: 100%;
  margin: 10px 0px;
}

.btn-available {
  background-color: #5ECE7B;
  width: 80%;
  float: left;
  /* margin: auto; */
  color: white;
  height: 2.5rem;
  border-style: none;
  word-spacing: 5px;
  white-space: pre;
  letter-spacing: 2px;
  lighting-color: blue;
  line-height: 10%;
  min-width: 120px;
}
.btn-available:hover {
  box-shadow: 1px 1px 2px 2px gray;
}
.btn-unavailable {
  background-color: rgb(33, 161, 44);
  width: 80%;
  float: left;
  /* margin: auto; */
  color: white;
  height: 2.5rem;
  border-style: none;
  opacity: 0.5;
  word-spacing: 5px;
  white-space: pre;
  letter-spacing: 2px;
  lighting-color: blue;
  line-height: 10%;
  min-width: 120px;
}

.product-description {
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  align-items: flex-start;
  margin-top: 10px;
}
.product-description * {
  text-align: start;
  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.product-description ul {
  list-style-type: disc !important;
  list-style-position: inside;
  /* background-color: aqua; */
}
.product-description ul li {
  display: list-item;
}
@keyframes example {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.btn-no-attr {
  transition: 1s ease-in-out all;
  animation: example 1s ease-in-out;
}

.text-danger {
  font-size: small;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  color: rgb(173, 32, 32);
}

@media screen and (max-width: 600px) {
  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* height: 80vh; */
    align-items: flex-start;
    /* background-color: blue; */
    box-sizing: border-box;
    margin: 100px auto;
    padding: 10px 0px;
  }
  .product-image-collection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid; */
    margin: 10px 0px;
    /* background-color: blueviolet; */

    /* background-color: aqua; */
    /* height: inherit; */
    /* margin: 20px; */
  }
  .product-other-images {
    flex: 0.2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: blueviolet; */
    /* height: inherit; */
    align-items: center;
    text-align: center;
    margin: 10px 0px;
    order: 2;
    /* background-color: red; */
    /* max-height: 75vh; */
  }
  .product-main-image-details {
    /* background-color: yellow; */
    /* height: inherit; */
    flex: 0.8;
    opacity: 40%;
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 80vw;
    object-fit: cover;
    order: 1;
    /* background-color: aqua; */
  }
  .product-main-image {
    /* background-color: yellow; */
    /* height: inherit; */
    flex: 0.8;
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 80vw;
    object-fit: cover;
    order: 1;
    /* background-color: aqua; */
  }
  .product-main-image-details img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 1px 1px 3px 2px lightgray;
  }
  .product-main-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 1px 1px 3px 2px lightgray;
  }
  .product-other-images img {
    width: 20%;
    height: fit-content;
    padding: 10px 0px;
    object-fit: cover;
    margin: 5px;
    box-shadow: 1px 1px 4px 1px lightgray;
  }
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid; */
    padding: 10px 0px;
    width: 100%;
    /* height: 75vh; */
    /* overflow: hidden; */

    /* background-color: brown; */
  }
  .product-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin:10px 0px; */
    font-family: Arial, Helvetica, sans-serif;
  }
  .button-container {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .btn-available {
    text-align: center;
    width: 60%;
    margin: auto;
  }
}

.out-of-stock-details {
  position: absolute;
  top: 40%;
  left: 0%;
  width: 100%;
  color: rgb(117, 117, 117);
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  align-self: stretch;
}
.list-pullit {
  list-style: circle;
}
